.hero {
    position: relative;
    padding: 110px 53px 0 20px;
    background-color: #84A278;

    @media screen and (min-width:768px) {
        padding: 72px 32px 0 32px;
    }

    @media screen and (min-width:1200px) {
        padding: 74px 16px 0 17px;
    }
    
    &__title {
        margin-bottom: 32px;
        max-width: 247px;
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 26px;
        line-height: 1.27;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #FCFCFC;

        @media screen and (min-width:768px) {
            margin-bottom: 20px;
            width: 181px;
            font-size: 18px;
            line-height: 1.28;
        }

        @media screen and (min-width:1200px) {
            margin-bottom: 28px;
            width: 367px;
            font-size: 38px;
            line-height: 1.26;
        }
    }

    &__title-span {
        font-size: 34px;
        line-height: 96.5%;
    
        @media screen and (min-width:768px) {
            font-size: 24px;
            line-height: 0.54;
        }

        @media screen and (min-width:1200px) {
            font-size: 38px;
            line-height: 1.26;
        }
    }

    &__list, &__sub-list {
        list-style-type: none;
    }

    &__item {
        display: none;

        @media screen and (min-width:768px) {
            margin-bottom: 4px;
            display: block;
            font-weight: 900;
            font-size: 28px;
            line-height: 1.21;
        
            text-align: right;
            text-transform: uppercase;
            
            color: #131313;
        }

        @media screen and (min-width:1200px) {
            font-size: 46px;
            line-height: 1.22;
        }
    }

    &__sub-item {
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.25;
        
            text-align: right;
            
            color: #FCFCFC;
        }

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.21;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 8px;

        width: 62px;
        height: 24px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        cursor: pointer;
       
    
        color: #131313;
        background-color: transparent;
        border: 2px solid #F8D24E;
        border-radius: 8px;
 
        @media screen and (min-width:1200px) {
            margin-right: 12px;
            padding: 12px 34px;
            width: 134px;
            height: 42px;
            font-size: 14px;
            line-height: 1.29;
        }
    }

    &__div {
        display: flex;
    }

    &__link {
        font-weight: 600;
        font-size: 8px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
    
        color: #F8D24E;

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.21;
        }
    }

    &__text {
        display: none;
    
        @media screen and (min-width:768px) {
            margin-bottom: 20px;
            width: 151px;
            display: block;

            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
        
        
            color: #FCFCFC;
        }
        @media screen and (min-width:1200px) {
            margin-bottom: 32px;
            width: 200px;
            font-size: 14px;
        }
    }

    &__img {
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            margin-top: 28px;
            margin-right: 33px;

            width: 152px;
            height: 152px;
        }

    @media screen and (min-width:1200px) {
            margin-top: 42px;
            margin-right: 14px;
        
            width: 225px;
            height: 225px;
        }
    }

    &__img-text {
        display: none;

        @media screen and (min-width:768px) {
            display: block;
        }
    }

    &__sub-div {
        display: flex;
        align-items: center;
    }

    &__text-div {
        display: block;
    }

    &__main-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    
        @media screen and (min-width:768px) {
            position: absolute;
            bottom: 0;
        }
    }
}